{% extends 'base.html' %}

{% block title %}Ideas{% endblock %}

{% block content %}
    {% if latest_ideas %}
        <h2 class="content-head is-center">Top ideas for this category !</h2>
        <div class="pure-g">
        {% for idea in latest_ideas %}
            {% include 'idea/single_idea.html' %}
        {% endfor %}
        </div>

        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}

    {% else %}
        <p>No ideas are available for this category yet.</p>
        <a href="{% url 'ideas:add' %}?category={{ category_id }}">How about creating one ?</a>
    {% endif %}
{% endblock %}
